* {
	box-sizing: border-box;
	margin: 0;
	font-family: monospace;
	color: var(--text-color);

	--bg-light: #272673;
	--bg-dark: #1A1A4C;
	--text-color: #CCF;

	user-select: none;
}

html {
	height: 100%;
	background-color: var(--bg-light);
}

body {
	height: 100%;
	flex-direction: column;
	font-size: 1.25rem;
	display: flex;
}

.center {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	gap: 1.5rem;
	height: max-content;
	flex-grow: 100;
}

.bar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.75%;
	height: 6%;
}

.bar div {
	font-size: 1.5rem;
}

h1 {
	font-size: 6rem;
	background-color: var(--bg-dark);
}

.answer-container {
	font-size: 3rem;
	background-color: var(--bg-dark);
	box-sizing: content-box;
	display: flex;
}

.ui {
	box-sizing: content-box;
	border-radius: 8px;
	padding: 0.5em;
	background-color: var(--bg-dark);
}

.modes {
	display: flex; 
	font-size: 1.5rem;
	margin-top: 1em;
	gap: 1.5rem;
	padding: 1em;
}

.modes div {
	cursor: pointer;
	transition: color 0.125s;
}

.modes div.activated {
	color: var(--text-color)
}

.modes div:hover {
	opacity: 0.7;
}

.bars {
	position: absolute;
	width: 100%;
	margin: 1em 0;
}

.gray {
	color: #559;
}

.gray.answer {
	animation: gray-throb 1s cubic-bezier(0.37, 0, 0.63, 1) infinite alternate;
}

.throbber {
	animation: throb 0.35s cubic-bezier(0.25, 1, 0.5, 1) infinite alternate;
	width: 3px;
	background-color: #272673;
}

@keyframes throb {
	0% {
		background-color: #1A1A4C;
	}

	100% {
		background-color: #272673;
	}
}

@keyframes gray-throb {
	0% {
		color: #559;
	}

	100% {
		color: #336;
	}
}


.hidden {
	display: none;
}

.score {
	font-size: 2rem;
}

.progress-bar {
	border-radius: 5px;
	height: 10px;
	width: 200px;
	background-color: var(--bg-dark);
}

.progress {
	border-radius: 5px;
	width: 0%;
	height: 100%;
	background-color: #AFA;
}

.stats {
	flex-direction: column
}

.stats-container {
	flex-direction: row;
	display: flex;
	gap: 1rem
}

.stats-container div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0.5rem;
	font-size: 1.5rem;
}

.stats-container .title {
	font-size: 3rem;
}

.restart {
	font-size: 2rem;
	cursor: pointer;
}